<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录界面</title>
</head>
<body>
<div class="header-panel">

    <img src="../static/images/bg1.png" height="155" width="311"/>
</div>
<div class="modal-body">
    <table border="1" bgcolor="#f0ffff">
        <thead>
        <tr>
            <th>序号</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>身体颜色</th>
        </tr>
        </thead>
        <tr>
            <td th:text="123"></td>
            <td th:text="${data.getUsername()}"></td>
            <td th:text="${data.getSex()}"></td>
            <td th:text="${data.getAdress()}"></td>
        </tr>
    </table>
</div>

</body>

</html>